In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("./datasets/covid_toy.csv")

In [5]:
df.sample(5)

    age  gender  fever   cough       city has_covid
81   65    Male   99.0    Mild      Delhi        No
60   24  Female  102.0  Strong  Bangalore       Yes
28   16    Male  104.0    Mild    Kolkata        No
98    5  Female   98.0  Strong     Mumbai        No
46   19  Female  101.0    Mild     Mumbai        No

In [6]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [7]:
df.shape

(100, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [9]:
df.corr()

            age     fever
age    1.000000 -0.017828
fever -0.017828  1.000000

In [10]:
df['gender'].value_counts()

Female    59
Male      41
Name: gender, dtype: int64

In [11]:
df['cough'].value_counts()

Mild      62
Strong    38
Name: cough, dtype: int64

In [12]:
df['city'].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [13]:
df.duplicated().sum()

1

In [14]:
df.drop_duplicates()

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[99 rows x 6 columns]

In [15]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# Spliting the data

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train,y_test=train_test_split(df.iloc[:,:5],df.iloc[:,5:6])

In [18]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((75, 5), (25, 5), (75, 1), (25, 1))

# AAm Jindagi

In [19]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

## Simple_imputer to fill Nan value

In [20]:
si=SimpleImputer()
X_train_fever=si.fit_transform(X_train[['fever']])
X_test_fever=si.fit_transform(X_test[['fever']])
X_train_fever.shape

(75, 1)

## OneHotEncoding

In [21]:
ohe=OneHotEncoder(drop='first',sparse=False)

In [22]:
ohe.fit(X_train[['gender','city']])
X_train_gender_city=ohe.transform(X_train[['gender','city']])
X_test_gender_city=ohe.transform(X_test[['gender','city']])
X_train_gender_city.shape

(75, 4)


## OrdinalEncoding

In [23]:
X_train['cough'].value_counts()

Mild      49
Strong    26
Name: cough, dtype: int64

In [24]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])

In [25]:
X_train_cough=oe.fit_transform(X_train[['cough']])
X_test_cough=oe.fit_transform(X_test[['cough']])
X_train_cough.shape

(75, 1)

In [26]:
X_train_age=X_train.iloc[:,0:1].values
X_test_age=X_test.iloc[:,0:1].values

In [27]:
X_train_transformed=np.concatenate((X_train_age,X_train_gender_city,X_train_fever,X_train_cough),axis=1)
X_test_transformed=np.concatenate((X_test_age,X_test_gender_city,X_test_fever,X_test_cough),axis=1)

In [28]:
X_train_transformed.shape

(75, 7)

In [29]:
X_test_transformed.shape

(25, 7)

# Mentos jindagi

In [30]:
from sklearn.compose import ColumnTransformer

In [35]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [38]:
transformer.fit_transform(X_train).shape

(75, 7)

In [39]:
X_train.shape

(75, 5)

In [41]:
transformer.transform(X_test).shape

(25, 7)